body {
    height: 100%;
    margin: 0;
    background-color: rgba(24, 23, 24, 0.9);
}
div.header {
    height: 18vmin;
    width: auto;
}
div.icon {
    text-align: center;
}
.name_icon {
    width: 90vmin;
    position: relative;
    top: -8.1vmin;
    right: 1vmin;
    z-index: 1;
}
div.main {
    height: 65vmin;
    width: 47vmin;
    margin: 0 auto;
    background-color: rgb(118, 194, 75);
    border: 0.7vmin solid white;
    border-radius: 5.5vmin;
    position: relative;
    top: -28vmin;
}
#firsttext{
    position: relative;
    text-align: center;
    font-size: 3.6vmin;
    line-height: 3.2vmin;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    top: 11.5vmin;
}
#secondtext{
    position: relative;
    text-align: left;
    right: -2vmin;
    font-size: 2.4vmin;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(246, 250, 237, 1);
    top: 13vmin;
}
#number{
    position: relative;
    text-align: left;
    right: -2vmin;
    top: 12.2vmin;
    width: 31vmin;
    height: 4vmin;
    background-color: rgba(192, 215, 195, 1);
    border: none;
    border-radius: 1.2vmin;
    font-size: 2.3vmin;
    font-weight: bold;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(75, 72, 72, 1);
}
#thirdtext{
    position: relative;
    text-align: left;
    right: -2vmin;
    font-size: 2.4vmin;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(246, 250, 237, 1);
    top: 13vmin;
}
#password{
    position: relative;
    text-align: left;
    right: -2vmin;
    top: 12vmin;
    width: 31vmin;
    height: 4vmin;
    border: none;
    background-color: rgba(192, 215, 195, 1);
    border-radius: 1.2vmin;
    font-size: 2.3vmin;
    font-weight: bold;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(39, 38, 38);
}
.redbutton{
    text-align: left;
}
.button_cancel{
    position: relative;
    left: 8.6vmin;
    top: 21vmin;
    background-color: rgb(199, 103, 74);
    border: none;
    border-radius: 1.5vmin;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vmin;
    font-weight: bold;
    color: white;
    width: 11vmin;
    height: 5vmin;
    -webkit-box-shadow: -6px 6px 3px -4px rgba(0, 0, 0, 0.27);
    -moz-box-shadow: -6px 6px 3px -4px rgba(0, 0, 0, 0.27);
    box-shadow: -6px 6px 3px -4px rgba(0, 0, 0, 0.27);
    cursor: pointer;
}
.button_cancel:hover{
    background-color: rgb(174, 90, 65);
}
.greenbutton{
    text-align: right;
}
.button_yes{
    position: relative;
    right: 8.6vmin;
    top: 16.1vmin;
    background-color: rgb(162, 215, 97);
    border: none;
    border-radius: 1.5vmin;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vmin;
    font-weight: bold;
    color: white;
    width: 11vmin;
    height: 5vmin;
    -webkit-box-shadow: 6px 7px 3px -4px rgba(0, 0, 0, 0.27);
    -moz-box-shadow: 6px 7px 3px -4px rgba(0, 0, 0, 0.27);
    box-shadow: 6px 7px 3px -4px rgba(0, 0, 0, 0.27);
    cursor: pointer;
}
.button_yes:hover{
    background-color: rgb(126, 176, 64);
}